*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navegacion{
    height: 5rem;
    /* border: 2px solid black; */
    background-color: rgb(96, 235, 212);
}
#navbarNav{
    justify-content: end;
}
.nav-item{
    margin: 5px;
    /* width: 8rem; */
}

.portada{
    font-size: 2rem;
    height: 6rem;
    background-color: rgb(55, 111, 214);  
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion1{
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    justify-content: space-between;
}
.filtros{
    margin: 0 1vw 0 1vw;
    /* border: 2px solid black; */

}
.formulario{ 
    margin: 0;
    width: 18rem;
    /* border: 2px solid black;   */
}

#contenedor_cartas{
    /* border: 2px solid black; */
    padding: 1vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    border: 2px solid black;
    margin: 1vh;
}
.carta{
    height: 10rem;
    object-fit: cover;
    margin: 1vh 1vw 1vh 1vw;
}
.boton_precio{
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}
.img_card{
    height: 100%; 
    object-fit: cover;
}

footer{
    /* border: 2px solid black; */
    background-color: rgb(55, 111, 214); 
    padding: 1vh 2vw 1vh 2vw;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.redes{
    border-radius: 20px;
    
}

.form_contact{
    margin: 2vh;
    width: 50%;
}

.tablas{
    margin: 2vh;
}
th{
    background-color: rgb(55, 111, 214) !important; 
}
.encabezado{
    color: rgb(55, 111, 214);
    font-weight: bolder;
}
